<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cards-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cards-detail</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-content [fullscreen]="true">
  <ion-card-header>
    <ion-card>
      <img src="{{card.imageUrl}}">
    </ion-card>
    <ion-card-title>{{card.name}}</ion-card-title>
    <ion-card-subtitle>{{card.type}}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    {{card.text}}
  </ion-card-content>
</ion-content>
